# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
Framework/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Carteira/bin/Debug/CaronteCore.pdb
Carteira/bin/Debug/Carteira.exe
Carteira/bin/Debug/Carteira.exe.config
Carteira/bin/Debug/DevExpress.Office.v15.2.Core.xml
Carteira/bin/Debug/Carteira.pdb
*.exe
Carteira/obj/Debug/Carteira.LancamentoCadastro.resources
Carteira/bin/Debug/Newtonsoft.Json.xml
Carteira/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Carteira/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Carteira/obj/Debug/Carteira.pdb
Carteira/obj/Debug/Carteira.Properties.Resources.resources
Carteira/obj/Debug/Carteira.Main.resources
Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Framework/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
packages/Newtonsoft.Json.7.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.xml
Framework/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.8.0.3/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/tools/install.ps1
packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.xml
Carteira/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.xml
Carteira/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Carteira/obj/Debug/carteira.exe.licenses
Carteira/obj/Debug/Carteira.csproj.FileListAbsolute.txt
packages/Newtonsoft.Json.7.0.1/Newtonsoft.Json.7.0.1.nupkg
Carteira/bin/Debug/DevExpress.XtraVerticalGrid.v15.2.xml
Carteira/bin/Debug/DevExpress.XtraRichEdit.v15.2.xml
packages/Newtonsoft.Json.8.0.3/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
Carteira/obj/Debug/Carteira.csproj.GenerateResource.Cache
Carteira/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Carteira/obj/Debug/Carteira.Login.resources
Carteira/bin/Debug/DevExpress.XtraCharts.v15.2.Wizard.xml
Carteira/bin/Debug/DevExpress.XtraBars.v15.2.xml
Carteira/bin/Debug/DevExpress.XtraGrid.v15.2.xml
Carteira/obj/Debug/Carteira.csprojResolveAssemblyReference.cache
Carteira/Properties/licenses.licx
Carteira/bin/Debug/Carteira.vshost.exe.manifest
Carteira/bin/Debug/DevExpress.Data.v15.2.xml
Carteira/bin/Debug/Carteira.vshost.exe.config
Carteira/bin/Debug/DevExpress.Pdf.v15.2.Drawing.xml
Carteira/bin/Debug/DevExpress.Printing.v15.2.Core.xml
Carteira/bin/Debug/DevExpress.XtraEditors.v15.2.xml
Carteira/bin/Debug/DevExpress.Utils.v15.2.UI.xml
Carteira/bin/Debug/DevExpress.Utils.v15.2.xml
/Carteira/bin/Debug
/packages/Newtonsoft.Json.8.0.3
/.vs/Carteira/v14/.suo
